body{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:300px;

    border: 2px, solid, black;
}

.container{
    width: 30%;
}

button{
    margin-top: 50px;
    width: 100px ;
}